
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color: goldenrod;
}

html, body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: #4f5f66;
    padding: 20px;
}

header .pfp{
    width: 250px;
    height: 500px;
    background-image: url('./../img/moana-pfp.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}

header h1{
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: 60px;
  margin: 10px 0 10px;
  color: #c66a6f;
}